/* Interest Calculator CSS */

.interestCalcFormContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#totalCostLabel,
#monthsLabel {
  grid-column: 4;
}

#totalCost,
#months {
  grid-column: 5;
}

#calcButton {
  grid-column: 4/6;
}

#monthlyCostOutput,
#finalCostOutput {
  grid-column: 4/6;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
}

#calcHeader {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
