.clothingPic{
    display: flexbox;
    align-self: center;
    width: 30%;
    height: auto;
    border: solid;
    border-radius: 5px;
    margin: 4vh;
  }

.productInfo, .productTitle{
    text-align: center;
}

.productTitle{
  margin-top: 1rem;
}

.productsContainer{
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}